# Data Structures

The following are the data types available in python :

- integers    -> int
- floats      -> float
- strings     -> str
- lists       -> list
- dictonaries -> dict
- tuples      -> tupule
- sets        -> set
- Booleans    -> bool

## Integers

In [ ]:
1 2 3 -5

In [1]:
# For Addition in python use '+'
2+2

4

In [2]:
# For subtraction in python use '-'
3-2

1

In [3]:
# For multiplication in python use '*'
2*3

6

In [5]:
# For power in python use '**'
2 ** 3

8

In [6]:
4 **5

1024

In [8]:
# For division in python use '/'
14/8

1.75

In [9]:
14 % 8

6

#### Modulo operator

to get the remainder use the modulo operator '%'

In [ ]:
# to get the remainder use '%'
8 % 5

In [ ]:
10%2

In [10]:
(2+3)*6

30

In [11]:
a = 1

In [12]:
a

1

In [13]:
type(a)

int

In [14]:
a = 2.3

In [15]:
a

2.3

In [16]:
type(a)

float

In [19]:
a = 'hello world'

In [20]:
a

'hello world'

In [21]:
len(32446547)

TypeError: object of type 'int' has no len()

In [22]:
len('abcd')

4

## Floats

In [24]:
b = 2.3

In [25]:
type(b)

float

In [27]:
5.1 + 6.3

11.399999999999999

In [28]:
2 + 'hello'

TypeError: unsupported operand type(s) for +: 'int' and 'str'

Main difference between `int` and `float` is that integers doesn't have a decimal value.

a = 10   --> a is a integer

b = 10.4  --> b is a float as it contains a decimal value

## Variable Assignment

Value is assigned to a variable using `=` operator

### Difference between `=` and `==` :

* `=` is used to assign 

example:

In [29]:
a = 4

* `==` is used to check if two objects are equal

example:

In [31]:
a == 5

False

In [32]:
11 == 10

False

In [33]:
11 == 11

True

In [34]:
a == 4

True

### Rules for variable names

#### 1) Names of a variable cannot start with a number. i.e

In [35]:
1variable = 2
# this will throughout an error as the variable name is starting with a number

SyntaxError: invalid syntax (<ipython-input-35-8df247ce8a9d>, line 1)

In [37]:
variable = 2

In [38]:
variable3 = 9

#### 2) Names of the variable cannot contain spaces, best practice is to use `_` instead

In [39]:
new variable = 2
# this will through out an error as there is ' ' in the variable name

SyntaxError: invalid syntax (<ipython-input-39-4b3f87bb4413>, line 1)

In [ ]:
new_variable = 2
#this can be resolved using '_' inplace of ' ', 
#which makes it mroe readable and considered as a best practice.

In [ ]:
new_variable

#### 3) Names of the variable cannot contain any of these symbols:

      :'",<>/?|\!@#%^&*~-+

In [41]:
new?variable = 4
# this will throughout an error the variable name contains '?'

SyntaxError: invalid syntax (<ipython-input-41-bc87b502081b>, line 1)

In [ ]:
dict_of_file_names

#### 4) It's considered best practice ([PEP8](https://www.python.org/dev/peps/pep-0008/#function-and-variable-names)) that names are lowercase with underscores

In [ ]:
new_variable = 2

#### 5) Avoid using Python built-in keywords like `list` and `str`

In [42]:
a = 1

In [43]:
list =1

In [44]:
list_1 =

1

TypeError: 'int' object is not callable

In [46]:
a =1

#### 6) Avoid using the single characters 
#### `l` (lowercase letter el), 
#### `O` (uppercase letter oh) and 
#### `I` (uppercase letter eye) as they can be confused with `1` and `0`

## Strings

A string is nothing but a `list of characters`

In [47]:
a = 'portland'

In [48]:
a

'portland'

In [49]:
a = "Florida"

In [50]:
a

'Florida'

In [62]:
a = 'Oregon'a''

SyntaxError: invalid syntax (<ipython-input-62-5afdd171ddcd>, line 1)

In [53]:
type(a)

str

In [63]:
a = "I'm good"

In [56]:
a

"I'm good"

In [59]:
a = 'I\'m good .. '

In [60]:
a

"I'm good .. "

In [ ]:
a = 'Hello'

In [64]:
type(a)

str

In [66]:
a = '2'
b = '3'

In [67]:
a + b

'23'

In [68]:
'2 ' + 5

TypeError: can only concatenate str (not "int") to str

In [69]:
'hello ' + 'world'

'hello world'

In [70]:
'hello ' * 3

'hello hello hello '

In [71]:
'hello' -'df'

TypeError: unsupported operand type(s) for -: 'str' and 'str'

In [72]:
a = 'hello'

In [74]:
a[0]

'h'

In [79]:
a[2]

'l'

In [85]:
a = 'hello'

In [82]:
type(a[5])

str

In [86]:
a[-1]

'o'

In [87]:
a[-4]

'e'

In [93]:
b = 'hello"a'

In [94]:
b[-2]

'"'

In [ ]:
h  e  l  l  o
0  1  2  3  4
0 -4 -3 -2  -1

a string can be definie deither way `'...'` or `"..."`

In [112]:
a = 'hello..how are you? \nI\'m good'

In [113]:
a[20]

'\n'

In [ ]:
a[start:stop-1]

In [105]:
a[7:14]

'how are'

In [111]:
a[:]

"hello..how are you? \nI'm good"

In [114]:
a = '12345678910'

In [115]:
a[:]

'12345678910'

In [116]:
a[::2]

'135790'

In [ ]:
a[start:stop:step]

In [ ]:
a = '2.8'

In [ ]:
b = 'Portland'

In [ ]:
c = "I'm"

`\` - escape character is used to put `'` in a string

In [ ]:
b

In [ ]:
c= 'I\'m'

In [ ]:
c

In [ ]:
d= 'hello \"'

In [ ]:
d

In [ ]:
t = r"I'm"

In [ ]:
t

In [ ]:
a = "Hello"

Strings are immutable

In [ ]:
a[0] = 'J'

In [ ]:
a= 'Jello'

In [ ]:
a = 'Hello'

In [ ]:
a[0:2]

In [ ]:
a[0:3]

string[start:stop:step]

In [ ]:
a = 'Hello World'

H e l l o   w o r l d

0 1 2 3 4 5 6 7 8 9 10

In [ ]:
len(a)

In [ ]:
a[0:11:2]

In [ ]:
a[3]

In [ ]:
a[4]

In [ ]:
b =4

In [ ]:
b =5

In [ ]:
a = ''' hello 
    world, 
    how are you??
'''

In [ ]:
a

In [ ]:
a = "Hello \tWorld"

In [ ]:
a

In [ ]:
a = 'Hello World'

In [ ]:
a[len(a)-1]

In [ ]:
a[-1]

H  e  l  l  o     W  o  r   l  d

0 -10 -9 -8 -7 -6 -5 -4 -3 -2 -1

In [ ]:
a[-5]

In [ ]:
a[11]

In [ ]:
'Hello' + ' World'

In [ ]:
'Hello ' * 3

In [ ]:
'hello' == 'Hello'

In [ ]:
a = 'sad'

In [ ]:
type(a)

In [ ]:
a.upper()

In [ ]:
help(a.count)

In [ ]:
a = 'hello World, hello again'

In [117]:
a.count('hello')

0

In [127]:
a = "Hello How are you?"

In [119]:
a.lower()

' hello how are you?'

In [120]:
a.upper()

' HELLO HOW ARE YOU?'

In [121]:
a.count('o')

3

In [124]:
a.count('how')

0

In [128]:
#a.count('')

19

In [129]:
len(a)

18

In [132]:
a = 'hello'

In [133]:
a[0]

'h'

In [134]:
a[0] = 'H'

TypeError: 'str' object does not support item assignment

In [131]:
a = 'how'

## Lists

* `Lists` are a colelction of different or same data types
* Lists are represented using square brakets `[,,]`

In [21]:
a = [1,2,3,4,5]

In [22]:
a

[1, 2, 3, 4, 5]

In [23]:
type(a)

list

In [25]:
a = [1,4.7,'hello']

In [29]:
a[0]

1

In [47]:
a = [1,2,5, [1,2,3,'portland',['a','b']]]

In [48]:
type(a)

list

In [50]:
type(a[3][4])

list

In [51]:
a[3][4]

['a', 'b']

In [38]:
my_string = 'hello world'

In [42]:
my_list = [1,2,3]

In [44]:
my_list[0] = 'Florida'

In [45]:
my_list

['Florida', 2, 3]

In [ ]:
type(a)

In [ ]:
a[0]

In [ ]:
a= [1,5.6,'Hello']

In [ ]:
a[0]

In [ ]:
a[2]

In [ ]:
a[2] = 'World'

In [2]:
a

[1, 2, 3, 4, 5]

In [3]:
a.pop()

5

In [4]:
a

[1, 2, 3, 4]

In [5]:
a.pop(3)

4

In [6]:
a

[1, 2, 3]

In [7]:
a.pop(1)

2

In [8]:
a

[1, 3]

In [ ]:
a[-1]

In [ ]:
a[0:2]

In [ ]:
len(a)

In [ ]:
a.count(1)

In [ ]:
a= [1,2,3]
b= [4,2,3,6]
c = [2,4,5]

In [ ]:

a * 3

In [ ]:
a == b

In [18]:
a = [1,2,3,4,5,6,7,8,9,1]

In [ ]:
a = a+[4]

In [20]:
a.index(1)

0

In [ ]:
# to add new elements to the list use '.append()' method
a.append(5)

In [ ]:
a

In [ ]:
a.append(6)

In [ ]:
a.sort()

In [ ]:
a

In [ ]:
a=['World','Hello','Hello Portland']

In [ ]:
a.sort()

In [ ]:
a

In [ ]:
a= [1,2,3]

In [ ]:
a.index(2)

In [ ]:
a.pop()

In [ ]:
a

In [ ]:
a = [1,2,3]

In [ ]:
a.remove(a[1])

In [52]:
a = [1,2,3,4,5,6,7,8,9]

In [53]:
a[1:4]

[2, 3, 4]

In [55]:
a[4:]

[5, 6, 7, 8, 9]

In [60]:
a[::10]

[1]

In [187]:
help(a.extend)

Help on built-in function extend:

extend(iterable, /) method of builtins.list instance
    Extend list by appending elements from the iterable.

In [62]:
a[-1]

9

In [63]:
a[-3]

7

In [64]:
a[::-1]

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [65]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9]

In [68]:
a = a + [10]

In [69]:
print(a)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [70]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [71]:
a.append('hello')

In [72]:
a

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 'hello']

In [74]:
a.remove(10)

In [76]:
a.remove('hello')

In [78]:
a = [10,6,3,9,21,6,8]

In [79]:
a

[10, 6, 3, 9, 21, 6, 8]

In [80]:
a.sort()

In [81]:
a

[3, 6, 6, 8, 9, 10, 21]

In [82]:
a.index(10)

5

In [83]:
help(a.reverse)

Help on built-in function reverse:

reverse() method of builtins.list instance
    Reverse *IN PLACE*.

In [84]:
a.reverse()

In [85]:
a

[21, 10, 9, 8, 6, 6, 3]

In [86]:
a.remove(6)

In [87]:
a

[21, 10, 9, 8, 6, 3]

In [93]:
a = [2,6,7,8,4,6,10]

In [94]:
a.index(6)

1

In [95]:
help(a.remove)

Help on built-in function remove:

remove(value, /) method of builtins.list instance
    Remove first occurrence of value.

    Raises ValueError if the value is not present.

In [89]:
a.remove(6)

In [90]:
a

[2, 7, 8, 4, 6, 10]

In [91]:
a.remove(6)

In [92]:
a

[2, 7, 8, 4, 10]

## Tuples

* `Tuples` are similar to Lists but immutable.
* tuples are are represented using paranthesis `(,,)`

In [96]:
a= (1,2,3)

In [97]:
a[0]

1

In [100]:
a.count(2)

1

In [101]:
a.index(3)

2

In [99]:
a[2] = 'hello'

TypeError: 'tuple' object does not support item assignment

In [ ]:
type(a)

In [ ]:
a[0]

In [ ]:
a[0:2]

In [ ]:
a.count(2)

In [11]:
a.index(2)

1

In [ ]:
mystring = 'Hello World Vishnu'

In [ ]:
mywords = mystring.split(' ')

In [ ]:
mywords

In [ ]:
n = []
for my_wish in mywords:
    if 'shn' in my_wish:
      n.append(my_wish)

In [ ]:
n

## Dictionaries

* `Dictionaries` are a key value pair
* Typical dictonary is represented as `{'key' : 'value'}`
* Usually `key` acts an index for the `value` i.e `dict['key'] = 'value'`

In [122]:
a= {'key1': 1, 'key1':'hello','key1':10, 9: [1,2,34,{'key1':'b'}]}

In [124]:
a[9][3]['key1']

'b'

In [125]:
a.keys()

dict_keys(['key1', 9])

In [126]:
a.values()

dict_values([10, [1, 2, 34, {'key1': 'b'}]])

In [119]:
a

{'key1': 10, 9: [1, 2, 34, {'a': 'b'}]}

In [111]:
a[9][3]['a']

'b'

In [ ]:
a.

In [103]:
a

{'key1': 'value1', 'key2': 'value2'}

In [104]:
type(a)

dict

In [106]:
a['key1'] = 'hello'

In [107]:
a

{'key1': 'hello', 'key2': 'value2'}

In [ ]:
a['b']

In [ ]:
a= {'portland':'OR', 'Denver':'CO'}

In [ ]:
a['portland']

In [ ]:
a.keys()

In [ ]:
a.values()

In [ ]:
help(a.pop)

In [ ]:
a.pop('portland')

In [ ]:
a= {'portland':'CT', 'Denver':'CO', 'portland' : 'OR'}

In [ ]:
a['portland'] = 'CT'
a['Denver'] = 'CO'

In [ ]:
a= ['CT','OR']

## Sets

* A `set` is a collection of unique objects
* a set is represented using flower brackets `{,,}`

In [129]:
a = {1,2,3,4,5,3,3,3,3,3}

In [131]:
a = set()

In [139]:
a = {5,3,2,7}

In [141]:
a.add('c')

In [142]:
a.add('a')

In [143]:
a

{2, 3, 5, 7, 'a', 'c'}

In [133]:
help(a.add)

Help on built-in function add:

add(...) method of builtins.set instance
    Add an element to a set.

    This has no effect if the element is already present.

In [135]:
a.add(1234)

In [136]:
a

{1234}

In [137]:
a.add('hello')

In [138]:
a

{1234, 'hello'}

In [12]:
a= {1,6,8,1,2}

In [16]:
a

{1, 2, 6, 8}

In [ ]:
b = [1,6,8,1,2]

In [ ]:
b

In [ ]:
set(b)

In [ ]:
c = {1,'hello'}

d = {(1,2,3)}

* A set cannot contain a list

In [ ]:
a = {[1,2,3]}

## Boolean

In [144]:
a = False

In [145]:
type(a)

bool

In [146]:
a = 2

In [147]:
bool(a)

True

In [148]:
bool(1)

True

In [149]:
bool(-40)

True

In [150]:
bool(0)

False

In [151]:
type(None)

NoneType

In [152]:
bool(None)

False

In [153]:
bool('hello')

True

In [154]:
bool('')

False

In [155]:
type(543)

int

In [156]:
a = str(543)

In [157]:
a

'543'

In [158]:
type(a)

str

In [159]:
a = '5237465681236498'

In [160]:
type(a)

str

In [161]:
int(a)

5237465681236498

In [162]:
a = 'hello'

In [163]:
int(a)

ValueError: invalid literal for int() with base 10: 'hello'

* A `boolean` value can only take two values either `True` or `False`

In [ ]:
True

In [ ]:
False

In [164]:
type(2 > 4)

bool

In [166]:
a= {'key1': 1, 'key2':'hello','key3':10, 9: [1,2,34,{'key1':'b'}]}

In [167]:
a.keys()

dict_keys(['key1', 'key2', 'key3', 9])

In [168]:
type(a.keys())

dict_keys

In [170]:
list(a.keys())[0]

'key1'

In [172]:
bool([])

False

In [173]:
len([])

0

In [174]:
len([''])

1

In [175]:
a = ['','1']

In [178]:
type('')

str

In [179]:
bool('')

False

In [180]:
bool(0)

False

In [181]:
bool(None)

False

In [182]:
bool('')

False

In [183]:
bool('a')

True

In [184]:
len('')

0

In [186]:
bool({})

False

## Dynamic typing

Python uses Dynamic typing, which means that a variable can be reassigned with a different data type.

In [ ]:
#lets assign variable 'a' the value '1' 
a = 1

In [ ]:
type(a)

In [ ]:
# we can see that the data type of a is 'int'
# let's try to reassign a to a string
a = 'hello'

In [ ]:
type(a)

as you can see that the same variable `a` is reassigned to a string form int and python didn't through any error. We need to be careful while assigning the variables and always make sure which data type we are using